:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #e5e5e5;
  color: #757575;
}

ul {
  list-style: none;
}
/*Кнопки переходу*/
.logo {
  font-size: 26px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
}
.logo-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--title-text-color);
}
.logo-title:hover,
.logo-title:focus {
  color: var(--accent-color);
}

/*контакти*/
.post {
  font-size: 14px;
  font-weight: 500;
  color: var(--accent-color);
}
/*герой*/
.fon-title {
  background-color: #2f303a;
}
.hero {
  font-size: 44px;
  font-weight: 900;
  color: var(--secondary-color);
}
.hero-button {
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}
/*cтилі футера*/
.fon-title {
  background-color: #2f303a;
}
.adres {
  font-size: 14px;
  color: var(--secondary-color);
}
.first-number {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
}
.first-number:hover,
.first-number:focus {
  color: var(--accent-color);
}
.two-number {
  font-size: 14px;
  color: var(--primary-text-color);
}
.two-number:hover,
.two-number:focus {
  color: var(--accent-color);
}
.contact {
  color: #ffffff99;
}
/*загальні стилі*/
.section {
  font-size: 14px;
  font-weight: 700;
  color: var(--title-text-color);
}
.section-title {
  color: var(--primary-text-color);
}
/*ПОРТФОЛІО*/
/*навігація сторінки*/
.nav-button {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
.nav-button:hover,
.nav-button:focus {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}
